@charset "UTF-8";
@import url(style_Reset.css);
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
/* 전체 div#wrap */

/* 헤더 div#header */
div#headerArea {
    /* border: 1px solid #000; */
    background-color: #f1e7d5;
    padding: 2px 0;
    margin-bottom: 48px;
}

header#header {
    /* border: 1px solid #000; */
    width: 1000px;
    margin: 0 auto;

    justify-content: space-between;
}
header#header div#headerLogoArea {
    margin-top: 64px;
}
/* #headerArea nav#headerLnb */
#headerArea nav#headerLnb{
    /* border: 1px solid #000; */
    margin: 16px 0;
}
#headerArea nav#headerLnb li >a  {
    color: #5f4a38;
    margin: 0 6px;
    font-size: 17px;
    font-family: 'Crimson Text', serif;
}
#headerArea div#cartNlistMenu {
    /* border: 1px solid #000; */
    justify-content: space-between;
    align-items: center;
    margin: 31px 0 38px;
}
div#cartLink {
    background-image: url(../images/btn_cart.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 38px;
    width: 50px;
    height: 38px;
    margin: 0 18px;
}
#headerArea #cartLink span#cartGoodsCnt{
    width: 14px;
    height: 14px;
    background-color: #0024ff;
    display: inline-block;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    font-size: 10px;
    line-height: 14px;
}
#cartNlistMenu div#sideMenu {
    /* border: 1px solid #000; */
    width: 40px;
    height: 40px;
}

#cartNlistMenu div#sideMenu span {
    display: block;
    width: 100%;
    height: 2.5px;
    background-color: #5f4a38;
    margin: 9px 0;
}

/* div#wrap #goodsPart */
div#wrap{   
    width: 1000px;
    margin: 0 auto;
    border: 1px solid #000;
}
div#goodsPart {
    font-size: 19px;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid #000;
    margin-bottom: 20px;
}

/* main#galleryListArea */
main#galleryListArea {
    flex-wrap: wrap;
}
main#galleryListAre >table {
    flex: 1;
    text-align: center;
    border: 1px solid #000;
    margin-bottom: 30px;
}